@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1>@Model.produto.modelo</h1>
    <h1>@Model.produto.tamanho</h1>
    <h1>@Model.produto.preco</h1>
    <h1>@Model.produto.urlImg<img src="imagens/IMG-20260331-WA0012 (3).jpg" alt=""></h1>
    
    